.card-photo {
    cursor: pointer;
}

img:hover {
    box-shadow: 0 0 0 0.2rem rgba(97, 1, 253, 0.25);
    border: 1px solid #6c5ce7;
}

.btn-danger {
    margin-left: 10px;
    margin-bottom: 10px;
}