<div class="row" *ngIf="!product; else mainContent">
  <h1>Loading...</h1>
</div>

<ng-template #mainContent>
  <div class="row">
    <div class="container">
      <div class="card">
        <div class="card-header">
          {{ product.name }}
        </div>
        <form
          class="card-body container row"
          [formGroup]="updateProductForm"
          (ngSubmit)="updateProduct(product._id)"
        >
          <div class="col-md-5 card-photo">
            <ng-container
              *ngIf="productService.canManageProduct(); else notManaged"
            >
              <input
                type="file"
                class="form-control-file d-none position-static"
                id="uploadImage"
                name="image"
                formControlName="inputImage"
                (change)="onPhotoSelected($event)"
                enctype="multipart/form-data"
                #photoInput
              />
              <img
                [src]="
                  photoSelected ||
                  'http://localhost:3000/public/' + product.imageName
                "
                class="img-fluid img-card-top"
                (click)="photoInput.click()"
              />
              <strong
                ><p
                  class="upload-label"
                  (click)="photoInput.click()"
                  *ngIf="productService.canManageProduct()"
                >
                  Actualizar foto
                </p></strong
              >
            </ng-container>
            <ng-template #notManaged>
              <img
                [src]="
                  photoSelected ||
                  'http://localhost:3000/public/' + product.imageName
                "
                class="img-fluid img-card-top"
              />
            </ng-template>
          </div>
          <div class="col-md-7">
            <ng-container
              *ngIf="productService.canManageProduct(); else userCorriente"
            >
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Nombre del juego"
                  [value]="product.name"
                  formControlName="name"
                  [ngClass]="{
                    'is-invalid':
                      updateProductForm.get('name').errors &&
                      updateProductForm.get('name').dirty
                  }"
                  required
                />
              </div>
              <div
                *ngIf="
                  updateProductForm.get('name').errors &&
                  updateProductForm.get('name').dirty
                "
              >
                <p
                  *ngIf="updateProductForm.get('name').hasError('required')"
                  class="invalid-p"
                >
                  Campo requerido
                </p>
              </div>
              <div class="form-group">
                <textarea
                  rows="4"
                  class="form-control"
                  placeholder="Ingrese la descripcion del juego"
                  formControlName="description"
                  [ngClass]="{
                    'is-invalid':
                      updateProductForm.get('description').errors &&
                      updateProductForm.get('description').dirty
                  }"
                >
                </textarea>
              </div>
              <div
                *ngIf="
                  updateProductForm.get('description').errors &&
                  updateProductForm.get('description').dirty
                "
              >
                <p
                  *ngIf="
                    updateProductForm.get('description').hasError('required')
                  "
                  class="invalid-p"
                >
                  Campo requerido
                </p>
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Precio del juego: 4000, 50000"
                  [value]="product.price"
                  minlength="2"
                  maxlength="7"
                  formControlName="price"
                  [pattern]="pricePattern"
                  (keypress)="onPriceIntroduced($event)"
                  [ngClass]="{
                    'is-invalid':
                      updateProductForm.get('price').errors &&
                      updateProductForm.get('price').dirty
                  }"
                />
              </div>
              <div
                *ngIf="
                  updateProductForm.get('price').errors &&
                  updateProductForm.get('price').dirty
                "
              >
                <p
                  *ngIf="updateProductForm.get('price').hasError('pattern')"
                  class="invalid-p"
                >
                  Ingrese un precio correcto: 4000, 44, 44.44
                </p>
                <p
                  *ngIf="updateProductForm.get('price').hasError('required')"
                  class="invalid-p"
                >
                  Campo requerido
                </p>
                <p
                  *ngIf="updateProductForm.get('price').hasError('minlength')"
                  class="invalid-p"
                >
                  El minimo de caracteres es de 2
                </p>
                <p
                  *ngIf="updateProductForm.get('price').errors?.maxlength"
                  class="invalid-p"
                >
                  El maximo de caracteres es de 7
                </p>
              </div>
              <button
                type="submit"
                class="btn btn-primary col-md-3"
                [disabled]="updateProductForm.invalid"
              >
                Actualizar
              </button>
              <a
                class="btn btn-danger col-md-3"
                (click)="deleteProduct(product._id)"
              >
                Eliminar
              </a>
            </ng-container>
            <p></p>
            <a class="btn btn-primary col-md-5 btn-carrito">
              Añadir al carrito
            </a>
          </div>
        </form>
        <ng-template #userCorriente>
          <p class="tittle-game">{{ product.name }}</p>
          <p class="description-game">{{ product.description }}</p>
          <p class="price-game">{{ product.price | currency: "USD" }}</p>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
