<div class="row">
  <div class="container col-5">
    <div class="card">
      <div class="card-header">Gestion de productos</div>
      <div class="card-body">
        <form (ngSubmit)="createProduct(productForm)" #productForm="ngForm">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="product.name"
              placeholder="Juego"
              required
              autofocus
              name="name"
            />
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              [(ngModel)]="product.description"
              placeholder="Ingrese la descripcion del juego"
              rows="3"
              required
              name="description"
            ></textarea>
          </div>
          <div class="form-group">
            <input
              type="text"
              pattern="/([0-9])/"
              class="form-control"
              [(ngModel)]="product.price"
              placeholder="Precio"
              required
              name="price"
            />
          </div>
          <div class="form-group inputFile">
            <input
              type="file"
              class="form-control-file d-none position-static"
              id="uploadImage"
              name="image"
              (change)="onPhotoSelected($event)"
              enctype="multipart/form-data"
              #photoInput
            />
            <img
              [src]="photoSelected || '../../../assets/imgs/uploadPic.svg'"
              class="img-fluid position-static"
              alt="No Image"
              (click)="photoInput.click()"
            />
            <label for="uploadImage" class="inputFile">Subir Foto</label>
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="productForm.invalid"
          >
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
