<div class="card mb-4 shadow-sm">
  <div class="card-photo" (click)="selectedCard(product._id)">
    <img
      [src]="'http://localhost:3000/public/' + product.imageName"
      class="img-card-top w-100"
    />
  </div>
  <div class="card-body">
    <p class="card-text">
      <strong>{{ product.name }}</strong>
      <br />
      {{ product.description | slice: 0:50 }}...
      <br />
      Precio: <strong> {{ product.price | currency: "USD" }} </strong>
      <i
        *ngIf="addedToWishList"
        class="fas fa-heart float-right"
        (click)="removeFromWishList()"
      ></i>
      <i
        *ngIf="!addedToWishList && authService.loggedIn()"
        class="far fa-heart float-right"
        (click)="handleAddToWishList()"
      ></i>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary btn-card-add"
          (click)="handleAddToCart()"
        >
          Añadir al carrito
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary btn-card-product"
          (click)="selectedCard(product._id)"
        >
          Ver detalles
        </button>
      </div>
    </div>
  </div>
</div>
