<div class="card filters">
  <div class="card-header">
    Filtros
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="from">Desde</label>
        <input type="number" id="from" name="from" class="form-control" />
      </div>
      <div class="form-group">
        <label for="to">Hasta</label>
        <input type="number" id="to" name="from" class="form-control" />
      </div>
      <button class="btn btn-primary btn-block">Filtrar por precio</button>
    </form>
  </div>
</div>
