<div class="row">
  <div class="cold-md4 p-4" *ngFor="let product of products">
    <div
      class="card card-photo"
      (click)="selectedCard(product._id)"
      style="width: 18rem;"
    >
      <div class="card-header">
        {{ product.name }}
      </div>
      <img
        [src]="'http://localhost:3000/public/' + product.imageName"
        class="img-card-top w-100"
      />
      <div class="card-body">
        <p>
          {{ product.description }}
          {{ product.price }}
        </p>
        <a href="#" class="btn btn-primary">Añadir al carro</a>
      </div>
    </div>
  </div>
</div>
