<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Registrate
      </div>
      <div class="card-body">
        <form (ngSubmit)="signUp(registerForm)" #registerForm="ngForm">
          <div class="form-group">
            <input type="text" [(ngModel)]="user.name" name="name" class="form-control" placeholder="Ingresa tu nombre"
              required autofocus>
          </div>
          <div class="form-group">
            <input type="email" [(ngModel)]="user.email" name="email" class="form-control"
              placeholder="Ingresa tu email"
              [pattern]="emailPattern"
              required>
          </div>
          <div class="form-group">
            <input type="password" [(ngModel)]="user.password" name="password" class="form-control"
              placeholder="Ingresa tu contraseña" required minlength="4">
            <small id="registerText" class="form-text text-muted">¿Ya tienes una cuenta?
              <a routerLink="/signin">Inicia sesion</a>
            </small>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="registerForm.invalid">Registrarse</button>

        </form>
      </div>
    </div>
  </div>
</div>