<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Geeky Shop</h5>
        <img
          src="../../../assets/imgs/online-shopping.svg"
          width="120px"
          height="120px"
        />
      </div>
      <hr class="clearfix w-100 d-md-none pb-3" />
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Redes Sociales</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Facebook</a>
          </li>
          <li>
            <a href="#!">LinkdIn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="https://mdbootstrap.com/"> BMSoftware</a>
  </div>
</footer>
