<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card">
      <div class="card-header">
        Iniciar Sesion
      </div>
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="signIn()">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Ingresa tu email"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('email').errors && loginForm.get('email').dirty
              }"
              required
              autofocus
              [pattern]="emailPattern"
            />
          </div>
          <div
            *ngIf="
              loginForm.get('email').errors && loginForm.get('email').dirty
            "
          >
            <p *ngIf="loginForm.get('email').hasError('required')">
              Campo requerido
            </p>
            <p *ngIf="loginForm.get('email').hasError('pattern')">
              Ingrese un email valido
            </p>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              formControlName="password"
              [ngClass]="{
                'is-invalid':
                  loginForm.get('password').errors &&
                  loginForm.get('password').dirty
              }"
              placeholder="Ingresa tu contraseña"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="loginForm.invalid"
          >
            Iniciar Sesion
          </button>
          <small id="registerText" class="form-text text-muted"
            >¿Nuevo en GeekyShop?
            <a routerLink="/signup">Registrate</a>
          </small>
        </form>
      </div>
    </div>
  </div>
</div>
