<div class="row">
  <div class="container col-md-7">
    <div class="card-header"><h3>Mis datos personales</h3></div>
    <form
      class="card-body container row"
      [formGroup]="profileForm"
      (ngSubmit)="guardarCambios(user._id)"
    >
      <div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              [ngClass]="{
                'is-invalid':
                  profileForm.get('email').errors &&
                  profileForm.get('email').dirty
              }"
              placeholder="email@email.com"
              [pattern]="emailPattern"
              required
            />
            <div
              *ngIf="
                profileForm.get('email').errors &&
                profileForm.get('email').dirty
              "
            >
              <p
                *ngIf="profileForm.get('email').hasError('required')"
                class="invalid-p"
              >
                Campo requerido
              </p>
              <p
                *ngIf="profileForm.get('email').hasError('pattern')"
                class="invalid-p"
              >
                Ingrese un email valido
              </p>
            </div>
          </div>

          <div class="form-group col-md-6">
            <label for="passwordActual">Contraseña actual</label>
            <input
              type="password"
              class="form-control"
              formControlName="passwordActual"
              placeholder="Ingresa tu contraseña"
              [ngClass]="{
                'is-invalid':
                  profileForm.get('passwordActual').errors &&
                  profileForm.get('passwordActual').dirty
              }"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="passwordNueva">Nueva contraseña</label>
            <input
              type="password"
              class="form-control"
              formControlName="passwordNueva"
              placeholder="Ingresa tu nueva contraseña"
              [ngClass]="{
                'is-invalid':
                  profileForm.get('passwordNueva').errors &&
                  profileForm.get('passwordNueva').dirty
              }"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="name">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Ingresa tu nombre"
            formControlName="name"
            [ngClass]="{
              'is-invalid':
                profileForm.get('name').errors && profileForm.get('name').dirty
            }"
            required
          />
        </div>
        <div
          *ngIf="
            profileForm.get('name').errors && profileForm.get('name').dirty
          "
        >
          <p
            *ngIf="profileForm.get('name').hasError('required')"
            class="invalid-p"
          >
            Campo requerido
          </p>
        </div>
        <button
          type="submit"
          class="btn btn-primary btn-guardar"
          [disabled]="profileForm.invalid"
        >
          Guardar cambios
        </button>
      </div>
    </form>
  </div>
</div>
