<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" routerLinkActive="active">
      <img
        src="../assets/imgs/favicon.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt=""
      />
      GeekyShop
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/consolas" routerLinkActive="active"
            >Consolas</a
          >
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0">
            <input
              class="form-control mr-sm-2 nav-link"
              type="search"
              placeholder="Buscar"
              aria-label="Buscar"
            />
          </form>
        </li>
        <li
          class="nav-item dropdown"
          *ngIf="authService.loggedIn() && authService.isEmployee()"
        >
          <a
            class="nav-link dropdown-toggle nav-link"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Herramientas</a
          >
          <div class="dropdown-menu">
            <ng-container *ngIf="authService.loggedIn()">
              <li class="nav-item">
                <div *ngIf="authService.isEmployee()">
                  <a
                    class="nav-link dropdown-item"
                    routerLink="/private-games"
                    routerLinkActive="active"
                    >Juegos no publicados</a
                  >
                </div>
              </li>
              <li class="nav-item">
                <div *ngIf="authService.isEmployee()">
                  <a
                    class="nav-link dropdown-item"
                    routerLink="/gestionProducts"
                    routerLinkActive="active"
                    >Gestion de juegos</a
                  >
                </div>
              </li>
              <li class="nav-item">
                <div *ngIf="authService.isAdmin()">
                  <a
                    class="nav-link dropdown-item"
                    routerLink="/employees"
                    routerLinkActive="active"
                    >Empleados</a
                  >
                </div>
              </li>
            </ng-container>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="navbar-brand"
            routerLink="/shopcart"
            routerLinkActive="active"
          >
            <img
              src="../assets/imgs/shopcart.svg"
              width="30"
              height="30"
              alt=""
              loading="lazy"
            />
          </a>
        </li>
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin" routerLinkActive="active"
              >Iniciar Sesion</a
            >
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/profile"
              routerLinkActive="active"
              >{{ user.nombre_usuario }}</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isEmployee()">
            <a class="nav-link">Rol: {{ user.rol }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="authService.logOut()">Cerrar Sesion</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
<div class="container p-5">
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div>
